{% extends "base.html" %} 

{% block head_title %}Profile {% endblock%}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
        <h2>hello {{request.user.first_name}} {{request.user.last_name}}! welcome to profile</h2>
        <h5>Account Number : {{request.user.account.account_no}}</h5>
        <h6>Balance : {{request.user.account.balance}}</h6>
    </div>
    <div  class="col-lg-4 col-md-4 col-sm-12 mx-auto">
        <button class="btn btn-info"><a href="{% url 'update' %}">Edit Profile</a></button>
    </div>
</div>

<br>
<br>
<br>

<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Book Name</th>
        <th scope="col">Book Price</th>
        <th scope="col">Balance After Borrrow Book</th>
        <th scope="col">Purse Date</th>
        <th scope="col">Action</th>
        <th scope="col">Review</th>
      </tr>
    </thead>
    <tbody>
        {% if data %}
        {% for b in data %}
      <tr>
        <th scope="row">{{b.id}}</th>
        <td>{{b.book_name}}</td>
        <td>{{b.book_price}}</td>
        <td>{{b.balance_A_B_Book}}</td>
        <td>{{b.borrow_date}}</td>
        <td>
        {% if not b.returned %}
           <a href="{% url 'return' b.book_id %}"  class="btn btn-info">Return Book</a>
        {% else %}
            <button class="btn btn-secondary" disabled>Book Returned</button>
        {% endif %}
    n  </td>
        <td><a href="{% url 'review' b.book_id %}"  class="btn btn-info">Review</a></td>
       
      </tr>
      {% endfor %}
      {% endif %}
   
    </tbody>
  </table>
{% endblock %}