{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
<div class="row d-flex flex-wrap m-3 mx-auto">
  <div class="card bg-success-subtle col-lg-5 col-md-5 col-sm-12 mx-auto mb-3" >
    <img src="{{book.book_image.url}}" class="card-img-top p-2" alt="..."style="height:400px;" />
  </div>
  <div class="card bg-success-subtle col-lg-5 col-md-5 col-sm-12 mx-auto mb-3" >
    <div class="card-body">
        <h5 class="card-title">Book Name : {{book.book_name}}</h5>
        <h5 class="card-title">Book Price : {{book.book_price}}</h5>
        <h5 class="card-title">Book Quantity : {{book.book_quantity}}</h5>
        <h5 class="card-title">
          Book Category : {{book.category.category_name}}
        </h5>
       
        <h5 class="card-title">
          Description : {{book.category.description }}
        </h5>
      {% if request.user.is_authenticated %}
      <a href="{% url 'borrow' book.id %}" class="btn btn-primary">Borrow Book</a>
      {% endif %}
    </div>
  </div>
</div>
<br>

{% if data %}
<div class="card">
  <div class="card-header">
    Review
  </div>
  {% for dt in data %}
  <div class="card-body">
    <h5 class="card-title">{{dt.name}}</h5>
    <p class="card-text">{{dt.body}}</p>
    <p class="card-text">{{dt.star}}</p>
    <p class="card-text">{{dt.time}}</p>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
